# =========================
# DATASET - DO NOT PUSH
# =========================

dataset/
datasets/
data/

# Dataset image files
dataset/**/*.jpg
dataset/**/*.jpeg
dataset/**/*.png
dataset/**/*.webp
# =========================
# PYTHON
# =========================

venv/
backend/venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# JUPYTER
# =========================

.ipynb_checkpoints/

# =========================
# NODE / REACT
# =========================

node_modules/
frontend/node_modules/
frontend/dist/
frontend/build/

# =========================
# TRAINING OUTPUTS
# =========================

runs/
logs/
wandb/

# =========================
# ENVIRONMENT / SECRETS
# =========================

.env
.env.*
!.env.example

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db